.navigationList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.navigationList > a {
    color: #202020;
    padding: .2rem .7rem;
    border-radius: 24px;
    transition: all 0.3s ease-in-out; /* Corregido el punto .3s */
    text-decoration: none; /* Añadido para quitar subrayado predeterminado */
}

.navigationList button {
    padding: 6px 9px;
    border-radius: 2rem;
    border: 1px solid #8a8a8a; 
}

.navigationList > a:hover {
    color: #000d72;
    cursor: pointer;
    box-shadow: -3px 3px 19px -4px rgba(0, 0, 0, 0.401);
}
